

body {
	background-color: #55B1F7;
	margin:0;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #4A0C61;

}

p {
	font-size:20px;
}


#container {
	background-color:#6F33BF;
	margin:auto;
	padding:10px;
	align-content: center;
}

#container > h1  {
	text-align: center;
	margin: : 20px;
}

#searchbar {
	text-align: center;
	
}

#searchbar > input {
	margin-bottom: 1%;
}

hr {
	border-top: 3px solid black;
}

#results {
	align-content: center;
	text-align: center;
}

br {
   display: block;
   margin: 0px 0;
}